.App {
  min-height: 100vh;
  background-color: #141c2f;
  font-size: calc(10px + 2vmin);
}

/* Header */

.site-page-header {
  border: none !important;
}

.ant-page-header-heading-title {
  color: #fcffff !important;
}

.ant-card-meta-title-custom {
  color: #fcffff !important;
  font-size: xx-large !important;
}

.ant-card-meta-description-custom {
  color: #fcffff !important;
  font-size: medium !important;
}
